.login {
  border: 1px solid #cecece;
  width: 300px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  gap: 15px;
  border-radius: 5px;
  background-color: #f4f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin-top: -15px;
  color: #43A0B5;
  text-align: center;
}

.crendencial {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #bbbbbb;
}

input {
  height: 20px;
  border-radius: 4px;
  background-color: white;
}


button {
  height: 25px;
  color: white;
  border-radius: 4px;
  background-color: #43A0B5;
  border: none;
}